.navbar-brand strong {
  margin-left: 10px;
}

.bg-dark {
  background-color: #8c8b8d;
}

.navbar.navbar-dark.bg-dark.shadow-sm > div > div {
  margin-left: auto;
  margin-right: 2%;
}

.logoPic {
  width: 7%;
}
