@import "../../node_modules/bootstrap/scss/bootstrap";
@import "header/header";


.CopyR {
  text-align: center;
}

.mr-5 {
  margin-right: 5px;
}

.p10 {
  padding: 10px;
}

.p1p {
  padding: 1%;
}

.tc {
  text-align: center;
}

.w90p {
  width: 90%;
}

.w95p {
  width: 95%;
}

.w100p {
  width: 100%;
}

.w50p {
  width: 50%;
}

.w30p {
  width: 30%;
}

.w10p {
  width: 10%;
}

.modal-open .modal {
  overflow: hidden;
}

.modal-content {
  max-height: 90vh;
}

.modal-body {
  overflow-y: scroll;
}

// skills
.skills {
  span {
    display: flex;
  }
  .skillName {
    text-align: initial;
  }
  .progress {
    width: 100%;
  }
  .row {
    align-items: center;
    .column:first-child {
      width: 50%;
    }
    .column:last-child {
      width: 50%;
    }
    .column {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1200px) {
  .skills {
    .row {
      align-items: center;
      .column:first-child {
        width: 100%;
      }
      .column:last-child {
        width: 100%;
      }
      .column {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

//qualifications

//Topic
.topic {
  margin-top: 10px;
  .py-5  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
.card{
  width: auto;
  margin-bottom: 10px;
}
.card-header{
  background-color: lightgrey;
}

}

//Work

//Portfolio



@media print {
  .logo-container,
  .img-wrapper,
  img {
    max-height: 50px !important;
    height: 100% !important;
  }

  .text-bg-dark {
    color: black !important;
  }

  .badge {
    color: black !important;
  }

  .site {
    color: black !important;
  }

  .skills {
    .row2 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    }

    .row {
      align-items: center;
      width: auto;
      display: flex;
      justify-content: flex-start;
      padding-right: 10px;
      .column:first-child {
        width: auto;
        padding-right: 10px;
      }
      .column:last-child {
        width: auto;
        padding-left: 0px;
      }
      .column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        justify-content: flex-start;
      }
    }
  }

  
}
